.p{
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 241);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser{
  height: 20px;
  background-color: rgb(243, 242, 241);
  display: flex;
  align-items: center;
}
.p-circle{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  margin: 3px;
}